/* general styles */

:root { /* global colors */
    --background: #000000;
    --foreground: #ffffff;
    --important: #ffff00;
    --border: 2vw solid var(--foreground);
}

* { /* apply universal style */
    background-color: var(--background);
    color: var(--foreground);
    text-align: center;
}

header {
    margin-top: 0vw;
    margin-bottom: 10vw;
}

img {
    margin: auto;
    width: 95%;
}

.heading {
    text-align: center;
}

.center-align {
    margin: auto;
    display: flex;
    width: 75vw;
}

.types {
    border: var(--border);
    border-radius: 5vw 5vw 0vw 0vw;
    border-bottom: 1vw solid #ffffff;
}

input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0vw;
}

.type {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: white;
    padding: 2vw;
    font-size: 5vw;
    background-color: #4b4b4b;
    transition: all .3s ease-out;
    border-bottom: var(--background);
    float: left;
    width: 100%;
    font-family: "Roboto condensed", sans-serif;
}

.squat {
    border-top-left-radius: 2vw;
}

.sub-button {
    background-color:#11954d;
    border-width: 0px;
    margin: auto;
    cursor: pointer;
    font-size: 5vw;
    width: 100%;
    padding: 2vw;
}

.bench {
    border: var(--border);
    border-width: 0vw 1vw 0vw 1vw;
}

.deadlift {
    border-top-right-radius: 2vw;
}

input[type = "radio"]:checked + .squat {
    background-color: #c53737;
}

input[type = "radio"]:checked + .bench {
    background-color: #2232e0;
}

input[type = "radio"]:checked + .deadlift {
    background-color: #d0ba11;
}

.file {
    border: var(--border);
    border-width: 0vw 2vw 0vw 2vw;
    background-color: #4b4b4b;
    height: max-content;
}

#video {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0vw;
}

.upload {
    background-color: #4b4b4b;
    width: 74vw;
    cursor: pointer;
}

.drop-container {
    background-color: #4b4b4b;
    height: max-content;
}

.submit {
    border: var(--border);
    height: 10vw;
    border-width: 0px 2vw 2vw 2vw;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    background-color: #11954d;
    border-top: 1vw solid #ffffff;
}
