/* general styles */

:root { /* global colors */
    --background: #000000;
    --foreground: #ffffff;
    --important: #ffff00;
    --border: 2vw solid var(--foreground);
}

* { /* apply universal style */
    background-color: var(--background);
    color: var(--foreground);
    text-align: center;
}

.heading {
    text-align: center;
}

input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0vw;
}

input[type = "radio"]:checked + .squat {
    background-color: #c53737;
}

input[type = "radio"]:checked + .bench {
    background-color: #2232e0;
}

input[type = "radio"]:checked + .deadlift {
    background-color: #d0ba11;
}

#video {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0vw;
}

.upload {
    background-color: #4b4b4b;
    width: 100%;
    cursor: pointer;
}

.message-container {
    position: relative;
    display: inline-block;
}

.disclaimer {
    color: #d4e162;
}

li > p {
    margin: 0vw;
}

a {
    color: deepskyblue;
}